/*-------------------------------------------Start-FONTS---------------------------------------------*/
@font-face {
	font-family: 'roboto-regular-webfont';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg') format('svg');
}
@font-face {
	font-family: 'quicksand-bold-webfont';
	src: url('../fonts/quicksand-bold-webfont.eot');
	src: url('../fonts/quicksand-bold-webfont.woff') format('woff'), url('../fonts/quicksand-bold-webfont.ttf') format('truetype'), url('../fonts/quicksand-bold-webfont.svg') format('svg');
}
@font-face {
	font-family: 'magra-bold-webfont';
	src: url('../fonts/magra-bold-webfont.eot');
	src: url('../fonts/magra-bold-webfont.woff') format('woff'), url('../fonts/magra-bold-webfont.ttf') format('truetype'), url('../fonts/magra-bold-webfont.svg') format('svg');
}
@font-face {
	font-family: 'lato-regular-webfont';
	src: url('../fonts/lato-regular-webfont.eot');
	src: url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato-regular-webfont.svg') format('svg');
}
@font-face {
	font-family: 'lato-bold-webfont';
	src: url('../fonts/lato-bold-webfont.eot');
	src: url('../fonts/lato-bold-webfont.woff') format('woff'), url('../fonts/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato-bold-webfont.svg') format('svg');
}
/*----------------------------------------End-Fonts---------------------------------------*/
@import 'nav.scss';
@import 'main.scss';
@import 'newProduct.scss';
@import 'icons.scss';
@import 'footer.scss';
body{
    margin: 0;
    overflow-x: hidden;
}