ul.icons{
    display: flex;
    margin: 0;
    background-color: rgb(200, 193 ,13);
    padding: 45px 80px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li{
        list-style-type: none;
        margin: 5px 0;
        width: 20%;
        &:nth-of-type(1) a{
            background: url("../images/icons.png") no-repeat;
            background-position: -2px -372px;
            display: block;
            height: 44px;
            margin: 0 auto 22px;
            padding: 0;
            width: 80px;
        }
        &:nth-of-type(2) a{
            background: url("../images/icons.png") no-repeat;
            background-position: -2px -418px;
            display: block;
            height: 44px;
            margin: 0 auto 22px;
            padding: 0;
            width: 80px;
        }
        &:nth-of-type(3) a{
            background: url("../images/icons.png") no-repeat;
            background-position: 3px -279px;
            display: block;
            height: 44px;
            margin: 0 auto 22px;
            padding: 0;
            width: 80px;
        }
        &:nth-of-type(4) a{
            background: url("../images/icons.png") no-repeat;
            background-position: 0 -325px;
            display: block;
            height: 44px;
            margin: 0 auto 22px;
            padding: 0;
            width: 80px;
        }
        h3{
            color: rgb(255, 255, 255);
            font: normal normal normal 20px/20px lato-regular-webfont;
            text-align: center;
            text-transform: uppercase;
        }
    }
    @media screen and (max-width: 991.99px){
        li{
            width: 100%;
        }
    }
} 